/*STYLE 2 IS THE REWORKED VERSION OF STYLE*/

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url("../images/swirl_pattern.png");
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	border-bottom: 2px solid #CCC;
	background-color: #FFF;
}

nav ul {
	list-style: none;
	display: flex;
	margin-right: 10px;
}

nav ul li {
	margin: 0 15px;
	padding: 5px;
	color: #777;
	font-size: 18px;
	font-weight: bold;
}

section {
	min-width: 650px;
	max-width: 650px;
	background-color: #FFF;
	margin-top: 30px;
	border: 2px solid #DDD;
}

aside {
	min-width: 270px;
	max-width: 270px;
	max-height: 240px;
	background-color: #FFF;
	margin-top: 30px;
	border: 2px solid #ddd;  
	text-align: center;
}

 a {
 	text-decoration: none;
 	color: #777;
 }

 a:hover {
 	color: #4AAAA5;
 	text-shadow: 1px 1px 1px #777;
 	transition: 0.3s;
 }

#container {
	min-width: 960px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.group {
	display: flex;
	justify-content: space-between;
}

.main {
	font-size: 32px;
	background-color: #4aaaa5;
	color: #FFF;
	height: 100%;
	margin: 0;
	padding: 0;
}

.heading {
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding: 30px;
}

.contentHeading {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 32px;
	color: #4AAAA5;
	padding: 30px 0;
	margin: 30px;
	border-bottom: 5px solid #DDD;
}

.linkHeading {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 24px;
	color: #4AAAA5;
	padding: 30px 0;
	margin: 30px;
	border-bottom: 5px solid #DDD;
}

.link {
	list-style: none;
	padding: 0 30px;
}