html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url("../images/swirl_pattern.png");
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	min-width: 960px;
	margin: 0;
	padding: 0;
	justify-content: center;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	border-bottom: 2px solid #CCC;
	background-color: #FFF;
}

nav ul {
	list-style: none;
	display: flex;
	margin-right: 10px;
}

nav ul li {
	margin: 0 15px;
	padding: 5px;
	color: #777;
	font-size: 18px;
	font-weight: bold;
}

.link {
	text-decoration: none;
	color: #777;
}

.link:hover {
	color: #4aaaa5;
	transition: 0.3s;
}

.group {
	display: flex;
	justify-content: space-between;
}

.heading {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.main {
	margin: 30px;
	padding: 30px 0;
	font-size: 32px;
	border-bottom: 5px solid #DDD;
}

.sub {
	margin: 30px;
	padding: 5px 0 24px 0;
	font-size: 24px;
	border-bottom: 5px solid #DDD;
}

.tealFont {
	color: #4aaaa5;
}

.greyFont {
	color: #777;
}

section {
	min-width: 650px;
	background-color: #FFF;
	margin-top: 30px;
	border: 2px solid #ddd; 
}

aside {
	min-width: 270px;
	background-color: #FFF;
	margin-top: 30px;
	border: 2px solid #ddd;  
	text-align: center;
}

footer {
	width: 100%;
	background-color: #666;
	border-top: 10px solid #4aaaa5;
	text-align: center;
	margin-top: 40vh;
}

footer p {
	padding: 20px 0;
	color: #ddd;
}

#brand {
	font-size: 32px;
	background-color: #4aaaa5;
	color: #FFF;
	height: 100%;
	margin: 0;
	padding: 0;
}

#name {
	padding: 5px 30px;
}